:root {
  --primary-color: #F4D04E;
  --text-color-dark: #111111;
  --text-color-muted: #6B6B6B;
  --secondary-background-color: #FFFFFF;

  --font-family-main: "Figtree", serif;
}

body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--font-family-main);
}

.card {
  width: 336px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid var(--text-color-dark);
  box-shadow: 8px 8px;
  background-color: var(--secondary-background-color);
}

.tag {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
}

.date {
  font-weight: 400 !important;
}

.title {
  margin: 10px 0px;
}

.title:hover,
.title:focus {
  color: var(--primary-color);
  cursor: pointer;
}

.description {
  color: var(--text-color-muted);
}

.author {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

#avatar {
  width: 32px;
}

#author-name {
  margin-left: 10px;
  font-weight: 800;
  font-size: small;
}

.text--preset-1 {
  font-weight: 800;
  line-height: 150%;
  font-size: 24px;
}

.text--preset-2 {
  font-weight: 500;
  line-height: 150%;
  font-size: 16px;
}

.text--preset-3 {
  font-weight: 800;
  line-height: 150%;
  font-size: 14px;
}

#logo {
  margin-bottom: 24px;
  border-radius: 10px;
}

@media (max-width: 400px) {
  #logo {
    width: 100%;
  }

  .card {
    width: 290px;
    margin: 0 20px;
  }
}
